<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>logback-SpringBootDemoSingle</contextName>
    <property name="log.file" value="logback.log" />
    <property name="FilePath" value="/data1/logs/dev/MembershipManage" />
    <!--输出到控制台-->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件并且切分日志文件-->
    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <param name="file" value="${FilePath}/fileERROR/${log.file}" />
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FilePath}/fileERROR/logback.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="InfoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <param name="file" value="${FilePath}/fileINFO/${log.file}" />
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FilePath}/fileINFO/logback.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="InfoFile"/>
    </root>

    <root level="error">
        <appender-ref ref="ErrorFile" />
    </root>

    <root level="info">
        <appender-ref ref="Console" />
    </root>
</configuration>